<footer role="contentinfo">
  <!-- wrapper -->
  <div class="footer">
    <span>© 2008-{{ metadata.currentYear() }}. All Rights Reserved.
    Made in <a href="https://www.toronto.ca/"><strong> Toronto</strong></a>, Project by
      <strong
        ><a href="https://digitaldesigners.ca">Digital Designers</a></strong
      >
    </span>
  </div>
</footer>
