<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <!-- start of Head -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />

    <!-- Prefetch-->
    <link
      rel="preload"
      href="./assets/fonts/RobotoFlex-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    
    <link
      rel="preload"
      href="./assets/fonts/RobotoFlex-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
   
    <!-- favicon + generator -->
    <link rel="icon" sizes="48x48" href="{{ '/favicon.ico' | url }}" />
    <link rel="canonical" href="{{ metadata.url + page.url }}" itemprop="url" />

    <!-- metadata -->
    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %} 
    
    <!-- styles & scripts -->
    {#
    <script type="module" src="/assets/js/sprite.js"></script>
    #}
    <script type="module" src="/assets/js/metric.js"></script>
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />

    <!-- End of Head -->
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      <!-- wrapper -->
      <div class="main">
        {{ content | safe }}
      </div>
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>
