// Page Transition
@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  opacity: 0;
  animation: pageFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-delay: 250ms;
}
