// Linear Gradients based on theme variables (recommended for primary containers)
.grey,
.white,
.black,
.accent,
.theme {
  background-size: 150%;
  background-position: center;
}

.theme {
  background-image: linear-gradient(
    45deg,
    var(--theme-clr-darkest),
    var(--theme-clr-lightest-clr)
  );
}
.accent {
  background-image: linear-gradient(
    45deg,
    var(--accent-clr-darkest),
    var(--accent-clr-lightest)
  );
}
.black {
  background-image: linear-gradient(
    45deg,
    var(--dark-clr-darkest),
    var(--dark-clr-lightest)
  );
}
.white {
  background-image: linear-gradient(
    45deg,
    var(--light-clr-darkest),
    var(--light-clr-lightest)
  );
}
.grey {
  background-image: linear-gradient(
    45deg,
    var(--neutral-clr-darkest),
    var(--neutral-clr-lightest)
  );
}
