// Pseudo Elements
// li markers
.li-check {
  li {
    list-style-type: "\2714  ";
    list-style-position: inside;
  }
  li::marker {
    color: var(--theme-clr);
  }
}

.li-circle {
  li {
    list-style-type: circle;
    list-style-position: inside;
  }
  li::marker {
    color: var(--theme-clr);
  }
}

.li-square {
  li {
    list-style-type: square;
    list-style-position: inside;
  }
  li::marker {
    color: var(--theme-clr);
  }
}

.about-page {
  h2:before {
    content: " \2601 ";
    margin-right: 0.25em;
    color: var(--theme-clr);
  }
}

a[href^="mailto"]::before {
  content: " \2709";
  font-size: 1.1em;
  margin-right: 0.25em;
}

a[href^="tel"]::before {
  content: " \260F";
  font-size: 1.1em;
  margin-right: 0.25em;
}

// first letter
.first-letter {
  p:first-of-type::first-letter {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--theme-clr);
  }
}

// tag list
.tag-list {
  display: flex;
  gap: 1em;

  li,
  a {
    display: inline-block;
  }

  a {
    padding-inline: 1em;
    border-radius: 0.2em;
  }

  a::before {
    content: "#";
  }
}

// Misc Elements
.special-time {
  time,
  address {
    font-style: italic;
    padding-left: 0.5em;
  }
}

// For accessibility
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}
