---
layout: home
eleventyNavigation:
  key: home
  order: 1
permalink: "/"
---
<section>
   <div class="section grid-hero">
    <span class="text-subheading">We Engineer<wbr>,<wbr> You Pilot</span>
    <span class="text-caption">The Most Advanced Web Technology</span>
    <span class="text-body">Let's Jamstack the Cloud Space</span>
    <span class="icon-mail"><a href = "mailto:hello@digitaldesigners.ca"><span class="sr-only">Email Us</span></a></span>
   </div>
  </div>
</section>
<section>
  <div class="section">
    <article>
 <h1>Why Do We <em>Embrace</em> the System of Jamstack?</h1>
 <p>Jamstack is an architectural approach that decouples the web experience layer from data and business logic, improving flexibility, scalability, performance, and maintainability.</p>

 <p>Jamstack removes the need for business logic to dictate the web experience.
  It enables a composable architecture for the web where custom logic and 3rd party services are consumed through APIs.</p>

  <p>Jamstack movement is guided by engineers, technology leaders, and digital agencies who are embracing the next evolution of modern web development architecture.</p>
</article>
  </div>
</section>

<section>
  <div class="section">
    <article>
    <h2>Why Should You Hire the Experts?</h2>
    <ul class="check-mark">
      <li>For presentation in parallel to web performance</li>
      <li>For coding to exceed conventional limitations</li>
      <li>For sustainable implementation of cloud technology</li>
      <li>For automating the operations of web development</li>
      <li>For competing in an evolving market driven economy </li>
    </ul>
  </article>
  </div>
</section>